
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-3 col-sm-12 ">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel p-0">
                    <div class="x_title mb-0 mt-1">
                        <h2 class="pl-2">Product</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content p-0">
                        <div class="row ">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-horizontal form-label-left mt-3" novalidate="">
                                    <div class="item form-group">
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <mat-form-field class="form-control-ddl" appearance="fill">
                                                <mat-select [(value)]="ProductID" placeholder="Select Product" class="form-control" (selectionChange)="ProductSelectionChange($event)">
                                                    <mat-option>
                                                        <ngx-mat-select-search #txtProductSearch
                                                            placeholderLabel="Search..."
                                                            [noEntriesFoundLabel]="'No match found...'"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let c of lstParentProducts | filtercolumn:txtProductSearch.value:['label']"  class="form-control-option"
                                                        [value]="c.value">
                                                        {{c.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
        
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel p-0">
                    <div class="x_title mb-0 mt-1">
                        <h2 class="pl-2">Product Variations</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content p-0 table-container" style="max-height: 58vh; overflow: auto;">
                        
                        <table class="table table-striped mb-0 mb-n-6px" *ngIf="lstProducts.length > 0">
                            <thead>
                                <tr>
                                    <th>Variation Name</th>
                                    <th style="width: 150px;text-align: center;">Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of lstProducts">
                                    <td [innerHTML]="product.data.name"></td>
                                    <td>
                                        <input type="number" name="Qty" class="form-control text-right"
                                        [(ngModel)]="product.qty" /> 
                                    </td>
                                   
                                  </tr>
                            </tbody>
                        </table>
        
                        <div class="row" *ngIf="lstProducts.length == 0" style="width: 100%;">
                            <div class="col-md-12 text-center p-3">No Data Found</div>
                        </div>
                        
        
        
                    </div>
                  
                </div>
            </div>
        </div> 
        <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
    </div>
    <div class="col-md-9 col-sm-12 ">
        <div class="row" >
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel p-0">
                    <div class="x_title mb-0 mt-1">
                        <h2 class="pl-2">Barcode Label</h2>
                        <ul class="nav navbar-right panel_toolbox mt-1">
                            <li>
                                <button type="button" class="btn btn-primary btn-sm" (click)="Printing()">&nbsp;<i
                                        class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content p-3" style="max-height: 80vh; overflow: auto;">
                            <div class="row mb-3">
                                <label class="col-form-label col-xl-2 col-md-3 col-sm-6 label-align">Printer Settings
                                </label>
                                <div class="col-xl-8 col-md-7 col-sm-6">
                                    <mat-form-field class="form-control-ddl">
                                        <mat-select [(value)]="SettingID" placeholder="Search"
                                            class="form-control" (selectionChange)="DropdownSelectionChange($event)">
                                            <mat-option>
                                                <ngx-mat-select-search #txtPartySearch
                                                    placeholderLabel="Search..."
                                                    [noEntriesFoundLabel]="'No match found...'"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option
                                                *ngFor="let c of lstPrinterSettings | filtercolumn:txtPartySearch.value:['SettingName']"
                                                [value]="c.SettingID" class="form-control-option">
                                                {{c.SettingName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
        
                                </div>
                            </div>
                            <section class="content invoice" id="contenttoprint">
                                <div class="mainDiv" style="display: grid;;float: left;" 
                                [style.column-gap]="PrintSetting.columnSpace"
                                [style.row-gap]="PrintSetting.rowSpace"
                                [style.grid-template-columns]="'repeat(' + PrintSetting.columns + ', 1fr)'">
                                    <ng-container *ngFor="let orderline of lstProducts;let i = index">
                                        <ng-container *ngFor="let l of forloop(orderline.qty)">
                                            <div class="barcode-container sheet PrintNextPage" [style.width]="PrintSetting.width" [style.height]="PrintSetting.height">
                                                <div class="barcodewithlabel sheet-page" [style.width]="PrintSetting.width" [style.height]="PrintSetting.height">
                                                    <ngx-barcode6 [bc-format]="'CODE128'"
                                                        [bc-value]="orderline.data.ProductID ? orderline.data.ProductID.toString() : ''"
                                                        [bc-display-value]="false" class="fixed-width-barcode"> 
                                                    </ngx-barcode6>
                                                    <div class="barcode-label" [innerHTML]="orderline.data.name"></div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                
                            </section>
        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



<div class="clearfix"></div>


