<div class="clearfix"></div>
<div class="row" *ngIf="IsOpen">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel p-0">
            <div class="x_title mb-0 mt-1">
                <h2 class="pl-2">Insert Stock</h2>
                <ul class="nav navbar-right panel_toolbox mt-1">
                    <li style="display: flex;align-items: center;" *ngIf="PrintType != 2">
                        <label class="col-form-label label-align" style="margin-right: 5px;">
                            Show Images
                        </label>
                        <div style="margin-right: 20px;">
                            <mat-slide-toggle [(ngModel)]="IsPicVisible"></mat-slide-toggle>
                        </div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger btn-sm" (click)="BacktoList()">&nbsp;<i
                                class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" (click)="Print()">&nbsp;<i
                                class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content overflow-none p-3" style="max-height: 80vh; overflow: auto;">
                <ng-container *ngIf="PrintType != 2">
                    <section class="content invoice" id="contenttoprint">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div *ngIf="Brand && Brand.BrandLogo" style="float: left;">
                                    <img [src]="Brand.BrandLogo" alt="Uploaded Image" height="130px" />
                                </div>
                                <h4 style="font-weight: 300;float: right;text-align: right;" [innerHTML]="GetAddress()">
                                </h4>

                            </div>
                        </div>
                        <div class="row invoice-info m-3">
                            <div class="col-sm-4 invoice-col">
                                <b>Insert Stock No:</b>&nbsp;{{VoucherNo}}
                                <br>
                                <b>Insert Stock Date:</b>&nbsp;{{ VoucherDate | date: "dd-MMM-yyyy" }}
                                <br>
                                <b>Supplier:</b>&nbsp;{{PartyName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="  table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;" class="text-center">Sr#</th>
                                            <th style="width: 420px;"
                                                [ngStyle]="{'display': !IsPicVisible ? 'none' : null}">Image</th>
                                            <th>Product</th>
                                            <th style="width: 100px;">Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="PrintType == 1">
                                            <ng-container *ngFor="let orderline of ParentProductDetails">
                                                <tr>
                                                    <td class="text-center">{{orderline.SrNo}}</td>
                                                    <td [ngStyle]="{'display': !IsPicVisible ? 'none' : null}"><img
                                                            [src]="orderline.Photo"
                                                            style="max-width: 400px;max-height: 500px;"></td>
                                                    <td colspan="4" class="p-0">
                                                        <table class="table table-bordered mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <td [innerHTML]="orderline.ProductName"></td>
                                                                    <td class="text-right" style="width: 100px;">
                                                                        {{orderline.Qty | number:'1.2-2'}}</td>
                                                                </tr>
                                                                <tr
                                                                    *ngFor="let Vorderline of GetProductDetails(orderline.ProductID)">
                                                                    <!-- <td class="pl-5"
                                                                        [innerHTML]="Vorderline.ProductName"></td> -->
                                                                    <td class="pl-5">
                                                                        <span
                                                                            [innerHTML]="Vorderline.ProductName"></span>
                                                                        <span *ngIf="Vorderline.Remarks"
                                                                            [innerHTML]="' - ' + Vorderline.Remarks"></span>
                                                                    </td>
                                                                    <td class="text-right">{{Vorderline.Qty |
                                                                        number:'1.2-2'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </ng-container>

                                        </ng-container>
                                        <ng-container *ngIf="PrintType == 0">
                                            <tr *ngFor="let orderline of ProductDetails">
                                                <td class="text-center">{{orderline.SrNo}}</td>
                                                <td [ngStyle]="{'display': !IsPicVisible ? 'none' : null}"><img
                                                        [src]="orderline.Photo"
                                                        style="max-width: 400px;max-height: 500px;"></td>
                                                <!-- <td>{{orderline.ProductName}}</td> -->
                                                <td>
                                                    <span [innerHTML]="orderline.ProductName"></span>
                                                    <span *ngIf="orderline.Remarks"
                                                        [innerHTML]="' - ' + orderline.Remarks"></span>
                                                </td>
                                                <td class="text-right">{{orderline.Qty | number:'1.2-2'}}</td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <td [attr.colspan]="IsPicVisible ? '2': '1'"></td>
                                            <td>Sub Total</td>
                                            <td class="text-right">{{GetTotalQty() | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <td [attr.colspan]="IsPicVisible ? '3' : '2'">
                                                <b>Remarks:</b>
                                                <br>
                                                <div [innerHTML]="Remarks"></div>
                                            </td>
                                            <td colspan="3" class="p-0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                    </section>
                </ng-container>
                <ng-container *ngIf="PrintType == 2">
                    <div class="row mb-3">
                        <label class="col-form-label col-xl-1 col-md-3 col-sm-6 label-align">Printer Settings
                        </label>
                        <div class="col-xl-3 col-md-3 col-sm-6">
                            <mat-form-field class="form-control-ddl">
                                <mat-select [(value)]="SettingID" placeholder="Search" class="form-control"
                                    (selectionChange)="DropdownSelectionChange($event)">
                                    <mat-option>
                                        <ngx-mat-select-search #txtPartySearch placeholderLabel="Search..."
                                            [noEntriesFoundLabel]="'No match found...'"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let c of lstPrinterSettings | filtercolumn:txtPartySearch.value:['SettingName']"
                                        [value]="c.SettingID" class="form-control-option">
                                        {{c.SettingName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                    <section class="content invoice" id="contenttoprint">
                        <div class="mainDiv" style="display: grid;;float: left;"
                            [style.column-gap]="PrintSetting.columnSpace" [style.row-gap]="PrintSetting.rowSpace"
                            [style.grid-template-columns]="'repeat(' + PrintSetting.columns + ', 1fr)'">
                            <ng-container *ngFor="let orderline of ProductDetails;let i = index">
                                <ng-container *ngFor="let l of forloop(orderline.Qty)">
                                    <div class="barcode-container sheet PrintNextPage"
                                        [style.width]="PrintSetting.width" [style.height]="PrintSetting.height">
                                        <div class="barcodewithlabel sheet-page" [style.width]="PrintSetting.width"
                                            [style.height]="PrintSetting.height">
                                            <ngx-barcode6 [bc-format]="'CODE128'"
                                                [bc-value]="orderline.ProductID ? orderline.ProductID.toString() : ''"
                                                [bc-display-value]="false" class="fixed-width-barcode"> </ngx-barcode6>
                                            <div class="barcode-label" [innerHTML]="orderline.ProductName">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </section>
                </ng-container>

            </div>
        </div>
    </div>
</div>


<div *ngIf="isModalOpen" class="modal fade bs-example-modal-md " [ngClass]="{'show': isModalOpen}" tabindex="-1"
    role="dialog" aria-modal="true" style="padding-right: 17px; display: block;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Insert Stock Print Type
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseModel()"><span
                        aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 ml-5">
                        <label>
                            <input type="radio" name="option" [(ngModel)]="PrintType" value="1">
                            &nbsp;&nbsp;Product Wise
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-5">
                        <label>
                            <input type="radio" name="option" [(ngModel)]="PrintType" value="0">
                            &nbsp;&nbsp;Product Variation Wise
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-5">
                        <label>
                            <input type="radio" name="option" [(ngModel)]="PrintType" value="2">
                            &nbsp;&nbsp;Product Label
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="CloseModel()">Close</button>
                <button type="button" class="btn btn-primary" (click)="btnOkay_Click()">Ok</button>
            </div>

        </div>
    </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isModalOpen"></div>