<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <!-- <h3>General</h3> -->
      <ul class="nav side-menu">
        
        <li><a routerLink="home"><i class="fa fa-home"></i> Home</a></li>
        <li><a><i class="fa fa-desktop"></i> Masters <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>Location<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="Master/CountryList">Country</a></li>
                  <li><a routerLink="Master/StateList">State</a></li>
                  <li><a routerLink="Master/CityList">City</a></li>
                </ul>
              </li>
              <li><a routerLink="Master/BrandList">Brand</a></li>
              <li><a routerLink="Master/CreditTypeList">Credit Type</a></li>
              <li><a routerLink="Master/SalesLocationList">Sales Location</a></li>
              <li><a routerLink="Master/ExhitionList">Exhibition</a></li>
              <li><a routerLink="Master/DueDaysList">Due Days</a></li>
              <li><a routerLink="Master/RatingList">Rating</a></li>
              <li><a routerLink="Master/HSNCodeList">HSN Code</a></li>
              <li><a routerLink="Master/PartyTypeList">Party Type</a></li>
              <li><a routerLink="Master/AddressTypeList">Address Type</a></li>
              <li><a routerLink="Master/PartyList">Party</a></li>
              <li><a routerLink="Master/ProcessList">Process</a></li>
              <li><a routerLink="Master/ComponentList">Component</a></li>
              <li><a>Product<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="Master/ProductLblPrint">Product Label Print</a></li>
                  <li><a routerLink="Master/ProductBOM">Product BOM</a></li>
                </ul>
              </li>
              <li><a>Stock<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="Master/StockTypeList">Stock Type</a></li>
                  <li><a routerLink="Master/StoreList">Store</a></li>
                </ul>
              </li>
              <li><a>Settings<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="Master/LabelPrintSettingList">Label Print Settings</a></li>
                  <li><a routerLink="UserList">Users</a></li>
                  <li><a routerLink="ClientList">Clients</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-money"></i> Sales <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="Sales/OrderList">Sales Order</a></li>
              <li><a routerLink="Sales/GDNList">GDN (Challan)</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-scissors"></i> Production <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="Sales/WOPlanningList">Work Order Planning</a></li>
            </ul>
          </li>
           <li><a><i class="fa fa-truck"></i> Stock <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="Sales/InsertStockList">Insert Stock</a></li>
              <li><a routerLink="Sales/RemoveStockList">Remove Stock</a></li>
              <li><a routerLink="Sales/StockList">Stock Register</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-file"></i> Reports <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="Sales/rptOrder">Sales Order</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-cog"></i> Settings <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="Settings/SyncTables">Sync Tables</a></li>
            </ul>
          </li>
      </ul>
    </div>
   
  </div>