<div class="clearfix"></div>

<div class="row" *ngIf="IsOpen">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel p-0">
            <div class="x_title mb-0 mt-1">
                <h2 class="pl-2">Work Order Planning</h2>
                <ul class="nav navbar-right panel_toolbox mt-1">
                    <li style="display: flex;align-items: center;">
                        <label class="col-form-label label-align" style="margin-right: 5px;">
                            Show Images
                        </label>
                        <div style="margin-right: 20px;">
                            <mat-slide-toggle [(ngModel)]="IsPicVisible"></mat-slide-toggle>
                        </div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger btn-sm" (click)="BacktoList()">&nbsp;<i
                                class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" (click)="Print()">&nbsp;<i
                                class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content p-3" style="max-height: 80vh; overflow: auto;">
                <section class="content invoice" id="contenttoprint">
                    <!-- <div class="row">
                        <div class="col-sm-12 text-center">
                            <div *ngIf="Brand && Brand.BrandLogo" style="float: left;">
                                <img [src]="Brand.BrandLogo" alt="Uploaded Image" height="130px" />
                            </div>
                            <h4 style="font-weight: 300;float: right;text-align: right;" [innerHTML]="GetAddress()">
                            </h4>
                        </div>
                    </div> -->
                    <div class="row invoice-info m-3">
                        <div class="col-sm-4 invoice-col">
                            <div><b>Voucher No:</b>&nbsp;{{VoucherNo}}</div>
                            <div style="margin-top: 6px;"><b>Voucher Date:</b>&nbsp;{{ VoucherDate | date: "dd-MMM-yyyy"
                                }}</div>

                        </div>
                        <div class="col-sm-4 invoice-col">
                            <div>
                                <b>Start Date:</b> {{StartDate | date: "dd-MMM-yyyy" }}
                            </div>
                            <div style="margin-top: 6px;">
                                <b>End Date:</b> {{ EndDate | date: "dd-MMM-yyyy" }}
                            </div>
                            <div style="margin-top: 6px;">
                                <b>Due Days:</b> {{ DueDays }}
                            </div>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <div><b>Prepared By:</b>&nbsp;{{PreparedByName}}</div>
                            <div style="margin-top: 6px;"><b>Assigned To:</b>&nbsp;{{AssignedToName}}</div>
                            <div style="margin-top: 6px;"><b>Authorized By:</b>&nbsp;{{AuthorizedByName}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="  table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;" class="text-center">Sr#</th>
                                        <th style="width: 420px;"
                                            [ngStyle]="{'display': !IsPicVisible ? 'none' : null}">Image</th>
                                        <th>Product</th>
                                        <th style="width: 300px;">Components</th>
                                        <th style="width: 100px;">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr *ngFor="let orderline of ProductDetails">
                                            <td class="text-center">{{orderline.SrNo}}</td>
                                            <td [ngStyle]="{'display': !IsPicVisible ? 'none' : null}"><img
                                                    [src]="orderline.Photo" style="max-width: 400px;max-height: 500px;">
                                            </td>
                                            <!-- <td>{{orderline.ProductName}}</td> -->
                                            <td>
                                                <div>
                                                    <span [innerHTML]="orderline.ProductName"></span>
                                                    <span *ngIf="orderline.Remarks"
                                                        [innerHTML]="' - ' + orderline.Remarks"></span>
                                                </div>
                                                <div *ngIf="orderline.SOItems && orderline.SOItems.length > 0"
                                                    style="margin-top: 6px;">
                                                    <b>SO#:</b>
                                                    <ul style="padding-left: 15px;margin-bottom: 0;margin-left: 40px;">
                                                        <li *ngFor="let comp of orderline.SOItems">
                                                            {{comp.SalesOrderNo}} - ({{comp.Qty | number:'1.2-2'}})
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <ul style="padding-left: 15px;margin-bottom: 0;">
                                                    <li *ngFor="let comp of orderline.Components">
                                                        {{comp.ComponentName}}
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-right">{{orderline.Qty | number:'1.2-2'}}</td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td [attr.colspan]="IsPicVisible ? '2': '2'"></td>
                                        <td style="text-align: right;">Sub Total</td>
                                        <td class="text-right">{{GetTotalQty() | number:'1.2-2'}}</td>
                                    </tr>
                                    <tr>
                                        <td [attr.colspan]="IsPicVisible ? '5' : '4'">
                                            <b>Remarks:</b>
                                            <br>
                                            <div [innerHTML]="Remarks"></div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>