<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="Con" value="Data Source=DESKTOP-U67NV8H;Initial Catalog=Handloom;User Id= sa;Password = 1111;Integrated Security=False"/>
		<add key="WooCommerce_URL" value="https://handloomemporium.co/wp-json/wc/v3"/>
		<add key="WooCommerce_ConsumerKey" value="ck_22199831693001ef17bd98f7d8d15a4c3dfb605f"/>
		<add key="WooCommerce_ConsumerSecret" value="cs_40384f4514c5f72e8605e825e674deff2ad96749"/>
		<add key="LogPath" value="I:\ServiceLog"/>-->

		<add key="Con" value="Data Source=94.23.46.101;Initial Catalog=Handloom; User Id=sa; Password=38Vw$29$4EoNilZibN; connect timeout=60"/>
		<add key="WooCommerce_URL" value="https://handloomemporium.co/wp-json/wc/v3"/>
		<add key="WooCommerce_ConsumerKey" value="ck_22199831693001ef17bd98f7d8d15a4c3dfb605f"/>
		<add key="WooCommerce_ConsumerSecret" value="cs_40384f4514c5f72e8605e825e674deff2ad96749"/>
		<add key="LogPath" value="I:\ServiceLog"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
