<div class="clearfix"></div>
 
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel p-0">
            <div class="x_title mb-0 mt-1">
                <h2 class="pl-2">Exhibition List</h2>
                <ul class="nav navbar-right panel_toolbox mt-1">
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" (click)="loadUsers(true)">&nbsp;<i
                                class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" (click)="CreateUser()">&nbsp;<i
                                class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Exhibition</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" (click)="ExportToExcel()">&nbsp;<i
                                class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export To Excel</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content p-0">
                <table mat-table [dataSource]="dataSource" matSort class="table table-striped mb-0 mb-n-6px">

                    <ng-container matColumnDef="ExhitionID">
                        <th class="column-title justify-content-center" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 105px;">ID </th>
                        <td class="text-center" mat-cell *matCellDef="let row"> {{row.ExhitionID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ExhitionName">
                        <th class="column-title justify-content-left" mat-header-cell *matHeaderCellDef mat-sort-header> Exhibition Name</th>
                        <td mat-cell *matCellDef="let row"> {{row.ExhitionName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Remarks">
                        <th class="column-title" mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                        <td mat-cell *matCellDef="let row"> {{row.Remarks}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ModifiedByName">
                        <th class="column-title" mat-header-cell *matHeaderCellDef mat-sort-header> Modified By</th>
                        <td mat-cell *matCellDef="let row"> {{row.ModifiedByName}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ModifiedDate">
                        <th class="column-title" mat-header-cell *matHeaderCellDef mat-sort-header> Modified Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.ModifiedDate | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th class="column-title" mat-header-cell *matHeaderCellDef style="width: 200px;"> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-success btn-sm"
                                (click)="CreateUser(element.ExhitionID)">&nbsp;<i class="fa fa-edit"></i> Edit</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="DeleteRow(element)">&nbsp;<i
                                    class="fa fa-trash"></i> Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="headings"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>


                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div> 


<app-exhition-add #usercomp (SaveEvent)="loadUsers(true)"></app-exhition-add>